#talkItemList li {
  padding: 12px;
  border-bottom: solid 1px #eee;
}

#talkItemList li div {
  padding-bottom: 6px;
  line-height: 1.4;
  font-size: 12pt;
}

#talkItemList li div.time {
  font-weight: 100;
}

#talkItemList li div.title {
  font-weight: bolder;
}

#talkItemList li div.speaker {
  font-weight: bolder;
  font-size: 0.8em;
}

#talkItemList li div.description {
  color: #999;
  font-weight: 100;
}
